<div
  class="aboutContainer d-flex justify-content-around align-items-center px-4"
>
  <div class="aboutMeContainers">
    <h1 class="text-light">About Me</h1>
    <p class="paragraphText text-light">
      Kia ora, my name is Kieran. I am a university graduate with a strong
      desire to become a full stack developer. My main goal is to apply my
      passion for innovation, knowledge in programming, and interest in tech to
      real world challenges. I recently completed my Bachelors of Science
      Degree, majoring in Computer Science and am looking for a software
      developer role that would allow me to make a meaningful impact while
      honing and developing new skills. I love continuously learning new things,
      whether it be in the technology sphere, or something entirely different. I
      enjoy exercising, playing games that make me think, reading, and hanging
      out with friends and family in my spare time.
    </p>
  </div>
  <div>
    <div class="aboutMeContainers">
      <h1 class="text-light">Tech Skills</h1>
      <div class="d-flex flex-row flex-wrap">
        <div class="skills px-3 py-2 text-light mb-3 me-2">HTML</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">Java</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">Javascript</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">Typescript</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">CSS</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">Tailwind</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">Bootstrap</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">Angular</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">React</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">React Native</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">Ionic</div>
        <div class="skills px-3 py-2 text-light mb-3 me-2">Git</div>
      </div>
    </div>
  </div>
</div>
