<div
  class="projects-Container px-4 d-flex flex-column align-items-center text-light"
>
  <div class="projects-Header">
    <h1 class="p-5">My Projects</h1>
  </div>
  <div class="Projects d-flex flex-wrap justify-content-between">
    <div class="Project d-flex flex-column px-4 align-items-center text-center">
      <h1 class="p-3">Project 1</h1>
      <div class="project-Technologies">
        react • firebase • typescript • nodejs
      </div>
      <p class="project-Description text-wrap">
        Text That is Used to describe the project and whatnot Testing. This is
        to test how far some things will move but who knows it will
      </p>
      <img
        src="../assets/images/Capture.jpg"
        class="projectPicture"
        alt="Gym Project Picture"
      />
    </div>

    <div class="Project d-flex flex-column px-4 align-items-center text-center">
      <h1 class="p-3">Project 1</h1>
      <div class="project-Technologies">
        react • firebase • typescript • nodejs
      </div>
      <p class="project-Description text-wrap">
        Text That is Used to describe the project and whatnot Testing. This is
        to test how far some things will move but who knows it will
      </p>
      <img
        src="../assets/images/Capture.jpg"
        class="projectPicture"
        alt="Gym Project Picture"
      />
    </div>

    <div class="Project d-flex flex-column px-4 align-items-center text-center">
      <h1 class="p-3">Project 1</h1>
      <div class="project-Technologies">
        react • firebase • typescript • nodejs
      </div>
      <p class="project-Description text-wrap">
        Text That is Used to describe the project and whatnot Testing. This is
        to test how far some things will move but who knows it will
      </p>
      <img
        src="../assets/images/Capture.jpg"
        class="projectPicture"
        alt="Gym Project Picture"
      />
    </div>
  </div>
</div>
