<nav class="bg-transparent fixed-top">
  <div class="navbar border-bottom nav-container">
    <div class="divSpacing d-flex flex-row">
      <a class="nav-link name text-light" href="#home">Kieran Clark</a>
      <span class="nav-link text-light">Software Dev</span>
    </div>

    <div class="divSpacing">
      <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-light" href="#about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#projects">projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#contact">contact</a>
        </li>
      </ul>
    </div>

    <div class="divSpacing d-flex flex-row-reverse">
      <ul class="nav">
        <li class="nav-item">
          <img
            class="images"
            src="https://seeklogo.com/images/G/github-logo-7880D80B8D-seeklogo.com.png"
          />
        </li>
        <li class="nav-item">
          <img
            class="images"
            src="https://seeklogo.com/images/L/linkedin-black-icon-logo-ECC426C572-seeklogo.com.png"
          />
        </li>
        <li class="nav-item">
          <img
            class="images"
            src="https://p7.hiclipart.com/preview/265/802/415/resume-computer-icons-curriculum-vitae-clip-art-resume-icon.jpg"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
