<div class="homeDiv d-flex flex-row">
  <div class="d-flex flex-column">
    <div class="introContainer pb-2">
      <h1 class="introHeadingText text-light">KIERAN CLARK</h1>
      <h2 class="introSubheading text-light">Fullstack Software Developer</h2>
      <h3 class="introParagraph text-light">
        Kia orana I'm Kieran, welcome to my digital Portfolio. I'm a Wellington
        based NZ Software Developer. I'm open to work from potential employers
        or collaborators so please reach out!
      </h3>
      <div class="mt-4">
        <a href="#aboutme" class="contactMeButton px-3 py-2"> Contact Me! </a>
      </div>

      <div class="pt-4">
        <a href="https://github.com/LinkedOrizon">
          <img
            class="icons"
            src="https://cdn-icons-png.flaticon.com/128/733/733553.png"
          />
        </a>

        <a
          href="
        https://linkedin.com/in/kieran-clark555"
        >
          <img
            class="icons"
            src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="imageContainer d-flex align-items-center">
    <img
      src="../assets/images/selfie.jpg"
      class="profilePicture"
      alt="profilePic"
    />
  </div>
</div>
